[Unit]
Description=Kibana-{{cluster_name}}_{{ansible_hostname}}
Documentation=https://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{kibana_user}}
Group={{kibana_group}}

Environment=KBN_HOME={{kibana_home}}
Environment=KBN_PATH_CONF={{kibana_conf_dir}}

ExecStart={{kibana_home}}/bin/kibana --logging.dest="{{kibana_log_dir}}/kibana.log" --pid.file="{{kibana_pid_dir}}/kibana.pid"

Restart=on-failure
RestartSec=3

StartLimitBurst=3
StartLimitInterval=60

WorkingDirectory={{kibana_home}}

StandardOutput=journal
StandardError=inherit

{% if kibana_port is defined and kibana_port < 1024 -%}
AmbientCapabilities=CAP_NET_BIND_SERVICE
{% endif %}

[Install]
WantedBy=multi-user.target
