#jinja2: trim_blocks:False
{{ ansible_managed | comment }}

{% if cluster_name is not defined %}
cluster.name: elasticsearch
{% else %}
cluster.name: {{ cluster_name }}
{% endif %}

node.name: {{cluster_name}}-{{ansible_hostname}}

node.attr.zone: {{ hostvars[inventory_hostname]['regionzone'] }}

## Path to directory where to store the data (separate multiple locations by comma):
path.data: {{ es_data_dir }}

# Path to log files:
path.logs: {{ es_log_dir }}

network.host: {{ es_network_host }}

node.data: {% if 'es-data' in group_names %}true{% else %}false{% endif %}
node.ingest: {% if 'es-data' in group_names %}true{% else %}false{% endif %}

{% if cluster_vars[buildenv].hosttype_vars['es-master'] is undefined %}
node.master: true
{% else %}
node.master: {% if 'es-master' in group_names -%}true{%- else -%}false{% endif %}
{% endif %}

{% if es_extra_config %}
{{ es_extra_config | to_nice_yaml }}
{% endif %}

cluster.initial_master_nodes: {{ es_master_nodes }}

## Pass an initial list of hosts to perform discovery when new node is started (default list of hosts is ["127.0.0.1", "[::1]"]):
discovery.zen.ping.unicast.hosts: {{ es_unicast_nodes }}

## Prevent the "split brain" by configuring the majority of nodes (total number of master-eligible nodes / 2 + 1):
#discovery.zen.minimum_master_nodes:

xpack.security.enabled: true

xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.verification_mode: "full"      # "full", "certificate" or "none"
xpack.security.transport.ssl.key: "{{ es_ssl_key }}"
xpack.security.transport.ssl.certificate: "{{ es_ssl_certificate }}"
{% if es_ssl_certificate_authority %}
xpack.security.transport.ssl.certificate_authorities: "{{ es_ssl_certificate_authority }}"
{% endif %}

xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.key: "{{ es_ssl_key }}"
xpack.security.http.ssl.certificate: "{{ es_ssl_certificate }}"
xpack.security.http.ssl.client_authentication: "{{ es_ssl_client_authentication }}"
{% if es_ssl_certificate_authority %}
xpack.security.http.ssl.certificate_authorities: "{{ es_ssl_certificate_authority }}"
{% endif %}
